<a href="https://colab.research.google.com/github/Sourav-Manik/Data-Science-Assignment/blob/main/Assign_12_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
Salary_test_df= pd.read_csv("/content/SalaryData_Test.csv",encoding = "ISO-8859-1")
Salary_test_df.head(2)

   age workclass education  ...  hoursperweek          native  Salary
0   25   Private      11th  ...            40   United-States   <=50K
1   38   Private   HS-grad  ...            50   United-States   <=50K

[2 rows x 14 columns]

In [2]:
Salary_train_df= pd.read_csv("/content/SalaryData_Train.csv",encoding = "ISO-8859-1")
Salary_train_df.head(2)

   age          workclass   education  ...  hoursperweek          native  Salary
0   39          State-gov   Bachelors  ...            40   United-States   <=50K
1   50   Self-emp-not-inc   Bachelors  ...            13   United-States   <=50K

[2 rows x 14 columns]

In [3]:
# No preprocessing have done because the data is structured.
# combining all the categorical columns for easy computaion.

In [4]:
Salary_test_df['Combined_data'] = Salary_test_df['workclass'] + Salary_test_df['education']+Salary_test_df['maritalstatus'] + Salary_test_df['occupation'] + Salary_test_df['relationship'] + Salary_test_df['race']+ Salary_test_df['sex'] + Salary_test_df['native']                                                     
Salary_test_df.head(2)

   age workclass  ...  Salary                                      Combined_data
0   25   Private  ...   <=50K   Private 11th Never-married Machine-op-inspct ...
1   38   Private  ...   <=50K   Private HS-grad Married-civ-spouse Farming-fi...

[2 rows x 15 columns]

In [5]:
Salary_train_df['Combined_data'] = Salary_train_df['workclass'] + Salary_train_df['education']+Salary_train_df['maritalstatus'] + Salary_train_df['occupation'] + Salary_train_df['relationship']+Salary_train_df['race'] + Salary_train_df['sex'] + Salary_train_df['native']
Salary_train_df.head(2)

   age  ...                                      Combined_data
0   39  ...   State-gov Bachelors Never-married Adm-clerica...
1   50  ...   Self-emp-not-inc Bachelors Married-civ-spouse...

[2 rows x 15 columns]

In [6]:
def split_into_words(i):
    return (i.split(" "))

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
#train data

In [9]:
# Preparing email texts into word count matrix format 
Salary_train_bow = CountVectorizer(analyzer=split_into_words).fit(Salary_train_df.Combined_data)

In [10]:
# For training messages
Salary_train_matrix = Salary_train_bow.transform(Salary_train_df.Combined_data)
Salary_train_matrix.shape

(30161, 98)

In [11]:
#test data

In [12]:
# Preparing email texts into word count matrix format 
Salary_test_bow = CountVectorizer(analyzer=split_into_words).fit(Salary_test_df.Combined_data)

In [13]:
# For testing messages
Salary_test_matrix = Salary_test_bow.transform(Salary_test_df.Combined_data)
Salary_test_matrix.shape

(15060, 98)

In [14]:
Salary_train_df.Salary

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
30156     <=50K
30157      >50K
30158     <=50K
30159     <=50K
30160      >50K
Name: Salary, Length: 30161, dtype: object

In [15]:
####### Without TFIDF matrices ########################
# Preparing a naive bayes model on training data set 

from sklearn.naive_bayes import MultinomialNB as MB
from sklearn.naive_bayes import GaussianNB as GB

In [16]:
# Multinomial Naive Bayes
classifier_mb = MB()
classifier_mb.fit(Salary_train_matrix,Salary_train_df.Salary)

MultinomialNB()

In [17]:
train_pred_m = classifier_mb.predict(Salary_train_matrix)
accuracy_train_m = np.mean(train_pred_m==Salary_train_df.Salary)
accuracy_train_m

0.7911541394516097

In [18]:
test_pred_m = classifier_mb.predict(Salary_test_matrix)
accuracy_test_m = np.mean(test_pred_m==Salary_test_df.Salary)
accuracy_test_m

0.7940239043824702

In [19]:
# Gaussian Naive Bayes 
classifier_gb = GB()
classifier_gb.fit(Salary_train_matrix.toarray(),Salary_train_df.Salary.values) # we need to convert tfidf into array format which is compatible for gaussian naive bayes

GaussianNB()

In [20]:
train_pred_g = classifier_gb.predict(Salary_train_matrix.toarray())
accuracy_train_g = np.mean(train_pred_g==Salary_train_df.Salary)
accuracy_train_g

0.5633102350717815

In [21]:
test_pred_g = classifier_gb.predict(Salary_test_matrix.toarray())
accuracy_test_g = np.mean(test_pred_g==Salary_test_df.Salary)
accuracy_test_g

0.5593625498007968