In [3]:
import pandas as pd
from scipy import stats

#Question 1

In [6]:
Cutlets_df = pd.read_csv("/content/Cutlets.csv")

In [7]:
Cutlets_df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [10]:
#Ho: Unit A = Unit B
#Ha:  Unit A =! Unit B
#Alpha = 0.05

In [14]:
stats.ttest_ind(Cutlets_df['Unit A'],Cutlets_df['Unit B'])

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [ ]:
# p > alpha
# Fail to reject null hypothesis

#Question 2

In [ ]:
from sklearn import datasets

In [15]:
LabTat_df = pd.read_csv("/content/LabTAT.csv")

In [ ]:
# Ho : Laboratory 1 = Laboratory 2 = Laboratory 3 = Laboratory 4
# Ha : one of the data is different
# Alpha: 0.05

In [16]:
LabTat_df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [22]:
stats.f_oneway(LabTat_df.iloc[:,0], LabTat_df.iloc[:,1],LabTat_df.iloc[:,2],LabTat_df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [ ]:
# pvalue < alpha
# Reject Null Hypothesis

# Question 3

In [4]:
buyerratio_df = pd.read_csv("/content/BuyerRatio.csv")

In [5]:
buyerratio_df

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [6]:
buyerratio_df = buyerratio_df.set_index(buyerratio_df['Observed Values'])
buyerratio_df

                Observed Values  East  West  North  South
Observed Values
Males                     Males    50   142    131     70
Females                 Females   435  1523   1356    750

In [14]:
buyerratio_df.drop('Observed Values', axis=1, inplace=True)
buyerratio_df

                 East  West  North  South
Observed Values
Males              50   142    131     70
Females           435  1523   1356    750

In [15]:
observed_values = buyerratio_df.values
print("Observed values :- \n",observed_values)

Observed values :-
 [[  50  142  131   70]
 [ 435 1523 1356  750]]

In [16]:
val = stats.chi2_contingency(observed_values)

In [17]:
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [18]:
expected_values = val[3]

In [19]:
df = (2-1)*(4-1)
print("degree of freedom-",df)
alpha = 0.05

degree of freedom- 3

In [21]:
from scipy.stats import chi2
chi_square = sum([(o-e)**2./e for o,e in zip (observed_values,expected_values)])
chi_square_statistic= chi_square[0]+chi_square[1]
print("chi_square_statistic - ",chi_square_statistic)

chi_square_statistic -  1.5152956451130446

In [22]:
critical_value = chi2.ppf(q = 1- alpha,df=df)
print("critical_value - ",critical_value)

critical_value -  7.814727903251179

In [23]:
p_value = 1-chi2.cdf(x=chi_square_statistic, df=df)
print('p_value - ', p_value)
print('Significance level - ', alpha)
print('Degrees of freedom - ',df)

p_value -  0.6787446296467897
Significance level -  0.05
Degrees of freedom -  3

In [24]:
if chi_square_statistic >= critical_value:
  print('Reject Ho: There is a relationship between 2 categorical varialble')
else:
  print('Retain Ho: There is no relationship between 2 categorical varialble')

if alpha >= p_value:
  print('Reject Ho: There is a relationship between 2 categorical varialble')
else:
  print('Retain Ho: There is no relationship between 2 categorical varialble')

Retain Ho: There is no relationship between 2 categorical varialble
Retain Ho: There is no relationship between 2 categorical varialble

# Question 4

In [25]:
df = pd.read_csv("/content/Costomer+OrderForm.csv")

In [ ]:
# Ho = p1 - p2 - p3 - p4 = 0
# Ha = p1 - p2 - p3 - p4 =! 0

In [27]:
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [33]:
from sklearn.preprocessing import LabelEncoder

In [34]:
le = LabelEncoder()

In [38]:
df['Phillippines_le'] = le.fit_transform(df.Phillippines)
df['Indonesia_le'] = le.fit_transform(df.Indonesia)
df['Malta_le'] = le.fit_transform(df.Malta)
df['India_le'] = le.fit_transform(df.India)

In [39]:
df.head(100)

   Phillippines   Indonesia       Malta  ... Indonesia_le  Malta_le  India_le
0    Error Free  Error Free   Defective  ...            1         0         1
1    Error Free  Error Free  Error Free  ...            1         1         0
2    Error Free   Defective   Defective  ...            0         0         1
3    Error Free  Error Free  Error Free  ...            1         1         1
4    Error Free  Error Free   Defective  ...            1         0         1
..          ...         ...         ...  ...          ...       ...       ...
95   Error Free  Error Free  Error Free  ...            1         1         1
96   Error Free   Defective  Error Free  ...            0         1         1
97   Error Free  Error Free  Error Free  ...            1         1         1
98    Defective  Error Free  Error Free  ...            1         1         1
99   Error Free  Error Free   Defective  ...            1         0         1

[100 rows x 8 columns]

In [43]:
import statsmodels.api as sm
sm.stats.ttest_ind(df.Phillippines_le,df.Indonesia_le)

(0.5357075727290991, 0.5923598490309231, 598.0)

In [ ]:
# p_value > alpha
# 0.59 > 0.05
# Fail to reject null hypothesis

In [44]:
sm.stats.ttest_ind(df.Malta_le,df.India_le)

(-1.611062801925147, 0.10769369283105293, 598.0)

In [ ]:
# p_value > alpha
# 0.10 > 0.05
# Fail to reject null hypothesis

In [45]:
sm.stats.ttest_ind(df.Phillippines_le,df.Malta_le)

(0.2717283129956612, 0.7859247121118202, 598.0)

In [ ]:
# p_value > alpha
# 0.78 > 0.05
# Fail to reject null hypothesis

In [46]:
sm.stats.ttest_ind(df.Phillippines_le,df.India_le)

(-1.3414414046015382, 0.18028638511297532, 598.0)

In [ ]:
# p_value > alpha
# 0.18 > 0.05
# Fail to reject null hypothesis

In [47]:
sm.stats.ttest_ind(df.Indonesia_le,df.Malta_le)

(-0.2640787937897411, 0.7918101850936792, 598.0)

In [ ]:
# p_value > alpha
# 0.79 > 0.05
# Fail to reject null hypothesis

In [48]:
sm.stats.ttest_ind(df.Indonesia_le,df.India_le)

(-1.8725433794525137, 0.06161920191833483, 598.0)

In [ ]:
# p_value > alpha
# 0.06 > 0.05
# Fail to reject null hypothesis